<% layout("/layouts/boilerplate" ) %>

    <div class="row mt-5">
        <div class="alert alert-dark" role="alert" class="mt-5">
            <div>
                <%=err.statusCode + "-" + err.message%>
            </div>
        </div>
    </div>